OpenAM OAuth2 provider always reject `Exchange` requests

When trying to exchange an authorization code for an authorization token, using `(*oauth2.Config) Exchange(context,code)`, OpenAM OAuth2 provider always complains of "Using multiple authentication methods" and fails the request with http status 400.

The problem is fixed by not setting the `client_id` param on the exchange request.

Removing/commenting [line 143](https://github.com/golang/oauth2/blob/master/internal/token.go#L143) of `internal/token.go` the problem dissapears. Also, taking into account the requirements of [RFC6749 section 4.1.3](https://tools.ietf.org/html/rfc6749#section-4.1.3) which specifies "authorization code grant" "access token request", in which it states that the `client_id` is required **only if** the client **is not** authenticating as specified in section 3.2.1, and also that the "confidential"-type clients **must** authenticate themselves as specified in section 3.2.1, so, I think not sending the `client_id` in the request body is the correct thing to do. Also for keeping compatibility with non-compliant providers, sending `client_id` in the body can still be kept in the "bustedAuth" block together with the sending of the `client_secret`.

After removing that parameter, OpenAM OAuth2 Provider still rejects the request complaining of "Scope parameter is not supported on an authorization code access_token exchange request".

This is avoided by commenting/removing [line 67](https://github.com/golang/oauth2/blob/master/oauth2.go#L167) of `oauth2.go`, this change complies with the requirements of the "access token request" in the "authorization code grant" as specified in  [section 4.1.3 of RFC6749](https://tools.ietf.org/html/rfc6749#section-4.1.3).


I have same problem and fixed by your patch.

I'm sorry that I didn't had the time to create the Gerrit code review yet... :disappointed: 

Would love to see this merged, it also fixes my issues using oauth2 #188 